 * {
     box-sizing: border-box;
 }
 
 *:focus {
     outline: 2px solid #1E90FF;
     outline-offset: 2px;
 }
 
 body {
     margin: 0;
     padding: 0;
     /* max-width: 1200px; */
     width: 100%;
 }
 /* Global cotainer */
 
 .container {
     font-family: 'Bebas Neue', cursive;
     font-weight: 400;
     font-size: 18px;
     margin-left: auto;
     margin-right: auto;
     line-height: 21.6px;
 }
 /* Main section */
 
 .main-section {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .intro-content {
     width: 50%;
     height: 782px;
     background-image: url('../images/back-img.png');
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .videos-section {
     width: 50%;
     padding: 54px;
 }
 
 .top-blogs-content {
     margin: 326px 158px;
     font-family: 'Bebas Neue', cursive;
     font-weight: 400;
     color: #fff;
 }
 
 .top-blog-title {
     width: 285px;
     height: 58px;
     line-height: 29px;
     font-size: 24px;
     letter-spacing: 2px;
     margin: 0;
     padding: 0;
 }
 
 .top-blog-text-section {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding: 12px 24px;
     background-color: #1E90FF;
     font-size: 16px;
     width: 170px;
     height: 48px;
     text-decoration: none;
     color: #fff;
     margin-top: 24px;
 }
 
 .top-blog-text-section:hover {
     background-color: rgba(30, 144, 255, 0.8);
 }
 
 .top-blog-text-section:active {
     background-color: rgba(30, 144, 255, 0.6);
 }
 
 .star-icon {
     width: 20px;
     height: 20px;
 }
 
 .top-blogs-text {
     letter-spacing: 2px;
     margin-left: 12px;
     line-height: 24px;
 }
 
 .videos-section-list {
     margin: 0;
     padding: 0;
 }
 
 .video-section-item {
     list-style: none;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     line-height: 22px;
     width: 492px;
 }
 
 .video-section-title {
     font-weight: 400;
 }
 
 .video-section-img {
     width: 160px;
     height: 90px;
     border-radius: 4px;
     margin-top: -10px;
 }
 
 .video-section-text {
     margin-left: 16px;
 }
 
 .section-title-link {
     text-decoration: none;
     color: #222;
 }
 
 .section-title-link:hover {
     color: #1E90FF;
 }
 
 .section-title-link:active {
     color: rgba(30, 144, 255, 0.6);
 }
 
 .more-videos-link:hover {
     color: #1E90FF;
 }
 
 .section-title {
     padding-top: 16px;
     padding-right: 9px;
     margin: 0;
     font-weight: 400;
 }
 
 .article-footer {
     color: #888888;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }
 
 .eye {
     margin-left: 25px;
 }
 
 .more-link {
     margin-top: 23px;
     width: 492px;
 }
 
 hr {
     width: 492px;
     margin-left: 0;
 }
 
 .more-title {
     width: 492px;
 }
 
 .more-videos-link {
     width: 492px;
     display: block;
     background-color: #1E90FF;
     text-align: center;
     border-radius: 4px;
     padding: 12px;
     color: #fff;
     font-family: "Roboto Condensed", sans-serif;
     font-weight: 700;
     letter-spacing: 2px;
     font-size: 14px;
     line-height: 16.41px;
     text-decoration: none;
 }
 
 .more-videos-link:hover {
     background-color: rgba(30, 144, 255, 0.8);
     color: #fff;
 }
 
 .more-videos-link:active {
     background-color: rgba(30, 144, 255, 0.6);
     color: #fff;
 }
 
 .article-footer-text {
     margin-left: 5px;
 }